In [1]:
!wget http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt

--2016-04-02 11:08:50--  http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt
Resolving www.cl.ecei.tohoku.ac.jp... 130.34.192.83
Connecting to www.cl.ecei.tohoku.ac.jp|130.34.192.83|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 813 [text/plain]
Saving to: 'hightemp.txt'

hightemp.txt        100%[===================>]     813  --.-KB/s    in 0s

2016-04-02 11:08:50 (64.6 MB/s) - 'hightemp.txt' saved [813/813]

## 10. 行数のカウント

In [2]:
with open('hightemp.txt') as fd:
    lines = sum([1 for _ in fd])
print(lines)

24

In [3]:
!wc -l hightemp.txt

      24 hightemp.txt

## 11. タブをスペースに置換

In [4]:
with open('hightemp.txt') as fd:
    text = fd.read()
print(text.replace('\t', ' '))

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [5]:
!tr "\t" " " < hightemp.txt

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [6]:
with open('hightemp.txt') as fd, open('col1.txt', 'w') as col1, open('col2.txt', 'w') as col2:
    for line in fd:
        columns = line.split('\t')
        col1.write(columns[0] + '\n')
        col2.write(columns[1] + '\n')

In [7]:
!cut -f1,2 hightemp.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

## 13. col1.txtとcol2.txtをマージ

In [8]:
with open('merged.txt', 'w') as fd, open('col1.txt') as col1, open('col2.txt') as col2:
    for (c1, c2) in zip(col1, col2):
        fd.write('%s\t%s\n' % (c1, c2))

In [9]:
!paste col1.txt col2.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

## 14. 先頭からN行を出力

In [10]:
N = 3

with open('hightemp.txt') as fd:
    for (i, line) in enumerate(fd, start=1):
        if i > N:
            break
        print(line.rstrip())

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16

In [11]:
!head -n 3 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16

## 15. 末尾のN行を出力

In [12]:
from collections import deque

N = 3

last_n = deque(maxlen=N)
with open('hightemp.txt') as fd:
    for line in fd:
        last_n.append(line.rstrip())
for line in last_n:
    print(line)

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [13]:
!tail -n 3 hightemp.txt

山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

## 16. ファイルをN分割する

In [14]:
with open('hightemp.txt') as fd:
    n_line = sum([1 for _ in fd])

N = 4
n_file = 0
buf = []

with open('hightemp.txt') as fd:
    for (i, line) in enumerate(fd, start=1):
        buf.append(line)
        if i % N == 0:
            with open('%s' % n_file, 'w') as out_fd:
                out_fd.write(''.join(buf))
                buf = []
                n_file += 1

In [15]:
!split -l 4 hightemp.txt | cat xaa

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

In [16]:
!cat 0

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25

## 17. １列目の文字列の異なり

In [17]:
column1 = set()

with open('hightemp.txt') as fd:
    column1 = {line.split('\t')[0] for line in fd}
for column in sorted(column1):
    print(column)

千葉県
和歌山県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県

In [18]:
!cut -f1 hightemp.txt|sort|uniq

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

## 18. 各行を3コラム目の数値の降順にソート

In [19]:
lines = []

with open('hightemp.txt') as fd:
     lines = [line.rstrip().split('\t') for line in fd]

for line in sorted(lines, key=lambda x: x[2], reverse=True):
    print('\t'.join(line))

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [20]:
!sort -n -r -k 3 hightemp.txt

高知県	江川崎	41	2013-08-12
岐阜県	多治見	40.9	2007-08-16
埼玉県	熊谷	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
愛知県	愛西	40.3	1994-08-05
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
千葉県	牛久	40.2	2004-07-20
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
愛知県	名古屋	39.9	1942-08-02
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [21]:
from collections import Counter

with open('hightemp.txt') as fd:
    column1 = Counter([line.split('\t')[0] for line in fd])
for (c1, n) in column1.most_common():
    print(n, c1)

3 山形県
3 群馬県
3 山梨県
3 埼玉県
2 岐阜県
2 静岡県
2 千葉県
2 愛知県
1 愛媛県
1 大阪府
1 和歌山県
1 高知県

In [22]:
!cut -f1 hightemp.txt|sort | uniq -c| sort -n -r

   3 群馬県
   3 山梨県
   3 山形県
   3 埼玉県
   2 静岡県
   2 愛知県
   2 岐阜県
   2 千葉県
   1 和歌山県
   1 高知県
   1 愛媛県
   1 大阪府